:root { 
--gray_50_01:#f9f9f9; 
--gray_900_99:#08102999; 
--black_900_f2:#000000f2; 
--indigo_A100:#857af5; 
--black_900_3f:#0000003f; 
--green_500:#4caf50; 
--light_blue_900:#004080; 
--gray_300_99:#dfdfdf99; 
--deep_purple_500_cc:#5846dfcc; 
--yellow_800:#f79e1b; 
--indigo_300_59:#7f73de59; 
--blue_gray_900_02:#1b1c54; 
--blue_gray_900_01:#181b4f; 
--blue_gray_700:#50555c; 
--blue_gray_900:#191b4f; 
--red_A700:#eb001b; 
--white_A700_4c:#ffffff4c; 
--gray_600:#7f7f7f; 
--lime_300:#d1f366; 
--blue_900:#1b4399; 
--blue_gray_700_99:#50555c99; 
--blue_gray_100:#cfcaca; 
--gray_50_59:#f9f9fa59; 
--blue_gray_100_33:#d9d9d933; 
--amber_500:#f3c003; 
--blue_500:#2196f3; 
--indigo_300_a5:#7f73dea5; 
--gray_200:#f0f0f0; 
--cyan_200:#71cfec; 
--deep_purple_50:#ece9f8; 
--indigo_400:#5261dc; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--deep_purple_500_b2:#5846dfb2; 
--gray_600_51:#66697351; 
--deep_purple_900:#302883; 
--red_700:#d42828; 
--blue_gray_50:#ebecf1; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_900_14:#1a1f4414; 
--deep_purple_500:#5846df; 
--amber_500_01:#ffc107; 
--red_500:#f44336; 
--gray_50:#f9f9fa; 
--deep_purple_300:#8073df; 
--green_400:#5abf73; 
--indigo_900_cc:#232266cc; 
--deep_purple_500_99:#5846df99; 
--black_900:#000000; 
--deep_orange_400:#ff6c52; 
--pink_400:#f24976; 
--black_900_26:#00000026; 
--gray_600_01:#6b6b6b; 
--gray_500:#939393; 
--indigo_50:#e9ecf4; 
--orange_A700:#ff5f00; 
--gray_900:#081029; 
--blue_gray_900_03:#1b1d55; 
--teal_50:#e1f0f5; 
--gray_300:#e0e0e0; 
--orange_300:#e6af4e; 
--gray_100:#f7f7f7; 
--orange_100:#edd8b3; 
--gray_600_7f:#6b6b6b7f; 
--gray_900_b2:#081029b2; 
--white_A700_01:#fdfdfd; 
--indigo_900:#232266; 
--deep_purple_300_59:#8073df59; 
}